html {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
  width: 100%;
}

.container {
  width: 500px;
  gap: 5px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  background: rgb(32, 64, 64);
  min-height: 50px;
  min-width: 50px;
  border: 1px solid rgb(169, 232, 232);
  border-radius: 5px;
  flex-grow: 1;
}

.square:hover {
  background-color: rgb(86, 167, 167);
  cursor: pointer;
}

.square--on {
  background-color: rgb(86, 167, 167);
}
